## Read data from URL

In [4]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/refs/heads/master/data/car-sales-extended.csv')

# Display the first 5 rows of the dataframe
data.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [6]:
import requests

def download_data(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename, 'wb') as file:
            path = f"../data/{filename}"
            open(path, 'wb').write(response.content)
            print(f"Data downloaded successfully and saved as {path}")
    else:
        print(f"Failed to download data. Status code: {response.status_code}")

download_data('https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/refs/heads/master/data/car-sales-extended.csv', 'car-sales-extended.csv')

Data downloaded successfully and saved as ../data/car-sales-extended.csv

## Read data from the path

In [7]:
card_data = pd.read_csv('../data/car-sales-extended.csv')
card_data.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

## Two main datatypes
- Series
- Dataframe

In [17]:
# Series is a one-dimensional array of data.
car_series = pd.Series(['BMW', 'Toyota', 'Audi', 'Mercedes', 'Porsche'])
car_series

0         BMW
1      Toyota
2        Audi
3    Mercedes
4     Porsche
dtype: object

In [13]:
colours_series = pd.Series(['Red', 'Blue', 'Green', 'Yellow', 'Pink'])
colours_series

0       Red
1      Blue
2     Green
3    Yellow
4      Pink
dtype: object

## We can create dataframe from series

In [18]:
# Dataframe is a two-dimensional array of data.
card_data = pd.DataFrame({'cars': car_series, 'colours': colours_series})
card_data

       cars colours
0       BMW     Red
1    Toyota    Blue
2      Audi   Green
3  Mercedes  Yellow
4   Porsche    Pink

## Exporting CSV

In [21]:
# Default is index=True
card_data.to_csv('../data/car_series.csv',index=False)