In [ ]:
import requests
def download_data(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        path = f"../data/{filename}"
        with open(path,'wb') as file:
            file.write(response.content)
        print(f"File {filename} downloaded successfully.")
    else:
        print(f"Failed to download file {filename}.")

download_data('https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/refs/heads/master/data/car-sales.csv', 'car-sales.csv')

File car-sales.csv downloaded successfully.

## Describe data

In [4]:
import pandas as pd
car_sales_df = pd.read_csv('../data/car-sales.csv')
car_sales_df.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [5]:
# Attribute
car_sales_df.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [10]:
# Price is object not numerics
car_sales_df.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [8]:
car_sales_df.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [9]:
car_sales_df.index

RangeIndex(start=0, stop=10, step=1)

In [11]:
car_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [17]:
car_sales_df.mean(numeric_only=True)
car_sales_df.median(numeric_only=True)
car_sales_df.mode(numeric_only=True)
car_sales_df.std(numeric_only=True)

Odometer (KM)    61983.471735
Doors                0.471405
dtype: float64

In [26]:
car_prices = pd.Series([100, 200, 300])
car_prices.mean()
car_prices.sum()

np.int64(600)

In [27]:
car_sales_df

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [29]:
car_sales_df["Odometer (KM)"].sum()

np.int64(40)

In [30]:
car_sales_df["Doors"].sum()

np.int64(40)

In [32]:
len(car_sales_df)

10